<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <title>FastAPI demo</title>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="flex items-center justify-center ">
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
      {% for error in errors %}
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        {{ error }}
      </div>
      {% endfor %}
      <h3 class="text-2xl font-bold text-center">Login to your account</h3>
      <form method="POST">
        <div class="mt-4">
          <div>
            <label class="block" for="login">Login<label>
                <input name="login" type="text" placeholder="Username"
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
          </div>
          <div class="mt-4">
            <label class="block">Password<label>
                <input name="password" type="password" placeholder="Password"
                  class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
          </div>
          <div class="flex items-baseline justify-between">
            <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
